<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header layout:fragment="header">
    <h2>Khoa CNTT - HUTECH</h2>
    <br>
    <h3>Header layout</h3>
</header>
<article layout:fragment="content">
    <h2>Phần article của trang home</h2>
    <h2>Đã thay vào phần article của main-layout</h2>
</article>
<footer layout:fragment="footer">
    <p>Footer</p>
    <p>Bài tập Thymeleaf layout - Pham Van Thanh</p>
    <br>
    <h3>Footer Layout</h3>
</footer>
</body>
</html>