<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Page 1 Title</title>

  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <!-- Other javascript, css source files -->
</head>
<body>
<header layout:fragment="header">
  <h2>Khoa CNTT - HUTECH</h2>
  <h3>Header layout</h3>
</header>
<section>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/product">Product</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
  <article layout:fragment="content">
    <h2>TRANG CHỦ</h2>
    <p>Đây là trang chủ của tôi</p>
  </article>
</section>
<footer layout:fragment="footer">
  <p>Footer</p>
  <p>Bài tập Thymeleaf layout - Pham Van Thanh</p>
  <h3>Footer Layout</h3>
</footer>
</body>
</html>